.theme-preload::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 45vh;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #525252;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
  z-index: 5;
}
.theme-preload::after {
  content: '';
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}
.theme-preload {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;
}
.theme-preload.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 3;
}